// Main Color Pallete
$font-stack: Helvetica, Arial, sans-serif;
$root-font-size: 62.5%;
$primary-color: #17326F;
$secondary-color: #D9DEAF;
$tertiary-color: #006C7E;
$quaternary-color: #f2f2f2;
$quinary-color: #B84D31;
$min-spacing: 1.3rem;