.button {
  background-color: $base-button-bg;
  border: none;
  color: $base-button-color;
  cursor: pointer;
  font-size: $base-font-size;  
  margin-top: $small-spacing;
  padding: $small-spacing;
  transition: background-color 100ms ease-in;

  &:hover {
    background-color: lighten($base-button-bg, 5%);
  }

  &:active, &:focus {
    background-color: darken($base-button-bg, 10%);
    border: none;
    outline: none;
  }
}

.button-player {
  background-color: transparent;
  border: 1px solid $base-button-bg;
  color: $secondary-font-color;
  margin-right: $small-spacing;

  &:hover {
    border: 1px solid transparent;
    color: $base-button-color;
  }
}