.player-wrapper {
  background-color: $base-addP-bg;
  color: $secondary-font-color;
  display: flex;
  flex-direction: column;
  margin: $gen-spacing 0;
  overflow-wrap: break-word;
  padding: $gen-spacing;
}

.player__property {
  margin-top: $small-spacing;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 530px) {
  .player__property {
    flex-direction: column;
  }
}