.section {
  grid-column: 2/3;
}

.item {
  background: white;
  padding: $min-spacing;
  margin: $min-spacing 0;
  box-shadow: 0 0 .8rem transparentize($primary-color, 0.6);
}

.__message {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  color: $primary-color;
}

.item--position-1 {
  background: transparentize($primary-color, 0.7);
}

.item--position-2 {
  background: transparentize($secondary-color, 0.7);
}

.item--position-3 {
  background: transparentize($quinary-color, 0.7);
}